*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(236, 236, 236);
}

body,
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container form{
    width: 450px;
    background: #fff;
    box-shadow: 0 0 5px rgb(236, 236, 236);
    border-radius: 10px 10px 0 0;
}