<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>OnedServlet</servlet-name>
        <servlet-class>controllers.OnedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwodServlet</servlet-name>
        <servlet-class>controllers.TwodServlet</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>threeServlet</servlet-name>
        <servlet-class>controllers.ThreeFormController</servlet-class>
    </servlet>-->


    <servlet-mapping>
        <servlet-name>OnedServlet</servlet-name>
        <url-pattern>/OnedServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TwodServlet</servlet-name>
        <url-pattern>/TwodServlet</url-pattern>
    </servlet-mapping>

<!--    <servlet-mapping>
        <servlet-name>threeServlet</servlet-name>
        <url-pattern>/2D_3F</url-pattern>
    </servlet-mapping>-->
</web-app>
