<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
<!--    <servlet>
        <servlet-name>OnedServlet</servlet-name>
        <servlet-class>controllers.OnedServlet</servlet-class>
    </servlet>
<<<<<<<< HEAD:web/WEB-INF/web.xml
    <servlet>
        <servlet-name>TwodServlet</servlet-name>
        <servlet-class>controllers.TwodServlet</servlet-class>
    </servlet>-->
========
    <servlet-mapping>
        <servlet-name>OnedServlet</servlet-name>
        <url-pattern>/OnedServlet</url-pattern>
    </servlet-mapping>
>>>>>>>> 0175193f5ce2b997c4038f40edbf9763ad75b6df:2D-Packing/web/WEB-INF/web.xml
</web-app>
